@import "tailwindcss";

a:hover {
  color: chocolate;
  animation-duration: 3s;
}



/* Sabse Important: Ye kisi bhi element ko scroll rokne nahi dega */
* {
  touch-action: pan-y !important;
}

html, body {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  height: auto !important;
  -webkit-overflow-scrolling: touch;
}

/* App wrapper fix */
#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
}